<div class="page-header">
	<h1><%= t('complaint.edit.title') %></h1>
</div>

<%= render 'form' %>

<%= link_to t('defaults.models.show'), @complaint %> |
<%= link_to t('defaults.models.back'), complaints_path %>
