<h2 class="text-center">Quem somos</h2>

<h3>Os contribuidores:</h3>
<div class="row">
	<ul id="contributors" class="list-group" data-module='ui/contributors'></ul>
</div>

<h2 class="text-center">Nosso objetivo</h2>

