<h2 class="text-center">Quem somos</h2>

<h3>Os contribuidores:</h3>
<div class="row">
	<ul id="contributors" class="list-group"></ul>
</div>

<<<<<<< HEAD
<h2 class="text-center">Nosso objetivo</h2>
=======
<h2 class="text-center">Nosso objetivo</h2>
>>>>>>> 6d88779f48081856fcb9a7531014165a8b3d5d33
