<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="info-box bg-green">
			<span class="info-box-icon"><i class="fa fa-check-square-o"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">Focos Cadastrados</span>
				<span class="info-box-number">25</span>
				<div class="progress">
					<div class="progress-bar" style="width: 70%"></div>
				</div>
				<span class="progress-description">
					Aumento de 70% no ultimo mês
				</span>
			</div><!-- /.info-box-content -->
		</div><!-- /.info-box -->
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="info-box bg-green">
			<span class="info-box-icon"><i class="fa fa-user-plus"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">Pessoas Cadastradas</span>
				<span class="info-box-number">120</span>
				<div class="progress">
					<div class="progress-bar" style="width: 70%"></div>
				</div>
				<span class="progress-description">
					Aumento de 15% no ultimo mês
				</span>
			</div><!-- /.info-box-content -->
		</div><!-- /.info-box -->
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="info-box bg-red">
			<span class="info-box-icon"><i class="fa fa-hospital-o"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">Relato de casos</span>
				<span class="info-box-number">70</span>
				<div class="progress">
					<div class="progress-bar" style="width: 70%"></div>
				</div>
				<span class="progress-description">
					Aumento de 10% no ultimo mês
				</span>
			</div><!-- /.info-box-content -->
		</div><!-- /.info-box -->
	</div>
</div>
<div class="row" align="center">
	<div class="col-md-12">
		<div class="box">
			<div class="box-body">
				<font size="50"><%= link_to "Denuncie um foco", new_complaint_path %></font>
				
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Sobre o Zika vírus</h3>
			</div>
			<div class="box-body">
				Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Sintomas do Zika vírus</h3>
			</div>
			<div class="box-body">
				Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Prevenção do Zika vírus</h3>
			</div>
			<div class="box-body">
				Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker
			</div>
		</div>
	</div>
</div>